<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>classify.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>83DD4D411F3DA8B80069541E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83DD4D5A1F3DA8B80069541E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83DD4D651F3DA8B80069541E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
