<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>image_url</key>
        <string>http://img12.gomein.net.cn/image/prodimg/gicon/cat15985867.png</string>
        <key>price</key>
        <string>$76</string>
        <key>title</key>
        <string>皮皮虾</string>
    </dict>
    <dict>
        <key>image_url</key>
        <string>http://img13.gomein.net.cn/image/prodimg/promotion_image/promoImg/201506/20150626/tuhulogo.png</string>
        <key>price</key>
        <string>$76</string>
        <key>title</key>
        <string>福建靠老鼠</string>
    </dict>
    <dict>
        <key>image_url</key>
        <string>http://img13.gomein.net.cn/image/prodimg/promotion_image/promoImg/201506/20150626/lingdulogo.png</string>
        <key>price</key>
        <string>$76</string>
        <key>title</key>
        <string>卡布奇诺</string>
    </dict>
    <dict>
        <key>image_url</key>
        <string>http://img14.gomein.net.cn/image/prodimg/gicon/cat15985633.png</string>
        <key>price</key>
        <string>$76</string>
        <key>title</key>
        <string>蛇皮冻</string>
    </dict>
    <dict>
        <key>image_url</key>
        <string>http://img11.gomein.net.cn/image/prodimg/promotion_image/promoImg/201506/20150626/ganenlogo.png</string>
        <key>price</key>
        <string>$76</string>
        <key>title</key>
        <string>今麦郎</string>
    </dict>
    <dict>
        <key>image_url</key>
        <string>http://img12.gomein.net.cn/image/prodimg/promotion_image/promoImg/201506/20150626/tiejiangjunlogo.png</string>
        <key>price</key>
        <string>$76</string>
        <key>title</key>
        <string>香蕉船</string>
    </dict>
</array>
</plist>
