<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods01.plist</string>
		<key>title</key>
		<string>食全食美</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods02.plist</string>
		<key>title</key>
		<string>水果</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods03.plist</string>
		<key>title</key>
		<string>蔬菜</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods01.plist</string>
		<key>title</key>
		<string>肉类</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods02.plist</string>
		<key>title</key>
		<string>禽蛋</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods03.plist</string>
		<key>title</key>
		<string>粮油</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods01.plist</string>
		<key>title</key>
		<string>酒类</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods02.plist</string>
		<key>title</key>
		<string>饮品</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods03.plist</string>
		<key>title</key>
		<string>当下卡</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods01.plist</string>
		<key>title</key>
		<string>进口食品</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods02.plist</string>
		<key>title</key>
		<string>调味品</string>
	</dict>
</array>
</plist>
